<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		
		<!-- change the path for the file accordingly on your system -->
		
		<RollingFile name="AppFile"
			fileName="/Users/b0096703/app/online/slf4j/logs/slf4j-app.log"
			filePattern="/Users/b0096703/app/online/slf4j/logs/slf4j-app-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d [%t] %p %c - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- Root logger will be used only to have loggers for third party libraries. -->
		<Root level="DEBUG">
			<AppenderRef ref="CONSOLE" level="DEBUG"/>
		</Root>
		
		<!-- This logger will be used to print logs from com.airtel.online package -->
		<Logger name="com.airtel" level="DEBUG">
			<AppenderRef ref="AppFile"/>
		</Logger>
		
		<!-- <Logger name="com.airtel.prod.engg.aspect" level="DEBUG" additivity = "false">
			<AppenderRef ref="AuditFile"/>
		</Logger> -->
	</Loggers>
</Configuration>